/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


body{
    background-color: #4b4bff;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: monospace;
}
.container {
    width: 500px;
    /* height: 400px; */
    background-color: #eee;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.timer {
    margin: 20px 0;
    width: 80%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 6px 1px #4b4bff33;
    font-size: 45px;
}
.timer .ms{
    font-size: 30px;
    margin-left: 10px;
    color: rgb(86, 86, 86);
}
.buttons{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button{
    padding: 10px;
    box-shadow: 0px 0px 6px 1px #4b4bff33;
    color: white;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.pause{
    background-color: #0000b9;
}
.pause:hover{
    background-color: #010163;
}
.start{
    background-color: #f74444;
}
.start:hover{
    background-color: #b30c0c;
}
.reset{
    background-color: #04b704;
}
.reset:hover{
    background-color: #029802;
}
.labB{
    background-color: #c7c700;
}
.labB:hover{
    background-color: #9b9b01;
}
.labs{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100px;
    width: calc(100% - 20px);
}
.lab{
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 30px;
    background-color: white;
    margin-bottom: 5px;
    cursor: pointer;
}
